@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.home-wrapper {

    background: $black;
    height: 1000vh;
    position: relative;

    &::before {
        content: '';
        width: 1px;
        height: 100vh;
        background-color: $white--one;
        display: block;

        position: fixed;
        left: 50px;

    }

    &::after {
        content: '';
        width: 1px;
        height: 100vh;
        background-color: $white--one;
        display: block;

        position: fixed;
        top: 0;
        right: 50px;

    }

    .copyright {
        position: fixed;
        bottom: 160px;
        left: -150px;
        color: $grey--one;
        transform: rotate(-90deg);

        font-size: 12px;
        font-weight: 350;
        letter-spacing: 1.2px;
        line-height: 2;
    }

    .dec-green {
        position: fixed;
        top: -200px;
        left: -300px;
        z-index: 0;

        animation: rotate 8s infinite linear;
    }

    .dec-orange {
        position: fixed;
        top: 580px;
        right: -90px;
        z-index: 0;

        animation: rotate 8s infinite linear;
    }

    @keyframes rotate {
        0% {
            transform: rotateZ(0deg);
            transform-origin: 1000px 1000px;
        }

        100% {
            transform: rotateZ(360deg);
            transform-origin: 1000px 1000px;

        }

    }


    nav {
        padding: 34px 111px 26px;

        border-bottom: 1px solid $white--one;

        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 120px;
            height: 32px;
            z-index: 2;
        }

        .menu {
            display: flex;

            button {
                padding: 8px 24px;
                margin-left: 23px;
                border: 1px solid $white;
                border-radius: 20px;
                color: $white;
                font-size: 17px;
                font-weight: 300;
                letter-spacing: 3.4px;
            }
        }

    }

    .banner {
        // outline: 1px solid tomato;

        min-height: 80vh;
        position: relative;
        padding-top: 310px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;

        .banner-logo {
            position: relative;
            font-family: sans-serif;
            text-transform: uppercase;
            font-size: 2em;
            letter-spacing: 4px;
            overflow: hidden;
            background: linear-gradient(90deg, #000, #fff, #000);
            background-repeat: no-repeat;
            background-size: 80%;
            animation: flash-light 8s linear infinite;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0);


        }

        svg {
            // fill: transparent;
            // color: rgba($color: $black, $alpha: 0.4);
            color: $white;
            // color: transparent;
            // fill: rgba($color: , $alpha: 0);
            // background: linear-gradient(90deg, $black, #fff, $black);
            background-repeat: no-repeat;
            background-size: 80%;

            // animation: flash-light 8s linear infinite;
        }

        @keyframes flash-light {
            0% {
                background-position: -500%;
            }

            100% {
                background-position: 500%;
            }

        }

        // 打字
        @keyframes typing {
            from {
                width: 0
            }
        }

        @keyframes caret {
            50% {
                border-right-color: transparent;
            }
        }

        .banner-typing {
            color: $white;
            font-size: 32px;

            /* 	width: 8.25em; */
            width: 360px;
            white-space: nowrap;
            overflow: hidden;
            border-right: .05em solid;
            animation: typing 4s steps(11)infinite,
                caret 1s steps(1) infinite;
        }


        .onoff {
            display: block;
            width: 25px;
            height: 72px;
            border: 1px solid $white;
            border-radius: 15px;

            position: relative;

            .circle {
                display: block;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: $grey--one;
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);

                animation: slide-down 2s ease-in-out infinite;
            }

            @keyframes slide-down {
                0% {
                    top: 10px;
                }

                100% {
                    top: 50px;
                }
            }
        }

        .social-media {
            height: 200px;
            // outline: 1px solid tomato;
            position: absolute;
            bottom: 30vh;
            right: 10px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }


    .rev-x {
        // outline: 1px solid red;
        background-image: url('../../../../public/img/blue-black.png');
        background-position: center bottom;
        background-size: cover;

        min-height: 100vh;

        position: relative;
        z-index: 1;

        .rev-x-logo {
            width: 800px;
            margin-top: 200px;
        }

        h2 {
            color: $white;
            font-size: 32px;
            font-weight: 500;
            letter-spacing: 6.4px;
        }

        p {
            color: $white--one;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 3.4px;
            line-height: 2;
        }

        .more {
            font-family: 'Bebas Neue', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px;

            span {
                color: $white;
                font-size: 36px;
                letter-spacing: 3.6px;
                margin-right: 14px;

            }
        }

        .phone1 {
            width: 405px;
            position: absolute;
            top: 0;
            right: 5%;
        }

        .phone2 {
            width: 415px;
            position: absolute;
            bottom: 0;
            left: 10%;
        }



    }


    .what-we-do {
        .marquee-container {
            margin-top: 100px;
            width: 100%;
            overflow: hidden;

            .marquee-content {


                display: flex;
                white-space: nowrap;
                animation: marquee 10s linear infinite;

                svg {
                    margin-right: 100px;
                }
            }

            @keyframes marquee {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(-100%);
                }
            }
        }

    }



}