.introduction {
    .banner {
        p {
            width: 52%;
            color: #DCDCDC;
            font-family: 'Bebas Neue';
            font-size: 58px;
            line-height: 77px;
            /* 132.759% */
            letter-spacing: 5.8px;
            text-transform: capitalize;
        }
    }
}