@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

body {
    font-size: 16px;
}

h3 {
    color: $white;
    font-family: 'Noto Sans TC';
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 8.4px;
    margin-bottom: 15px;
}

h4 {
    color: $white;
    font-family: 'Bebas Neue';
    font-size: 42px;
    letter-spacing: 4.2px;
}

h5 {
    color: $white;
    font-family: 'Noto Sans TC';
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 5.6px;
}

.f784 {
    color: $white;
    font-family: 'Bebas Neue';
    font-size: 78px;
    font-weight: 400;
    letter-spacing: 7.8px;
}

.f325 {
    color: $white;
    font-family: 'Noto Sans TC';
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 6.4px;
}

.f173 {
    color: $white--one;
    font-family: 'Noto Sans TC';
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    /* 164.706% */
    letter-spacing: 3.4px;
}